
@using MVCDemo.Models
@model IEnumerable<Department>

@{
    ViewBag.Title = "Department List";
}

<h2>Department List</h2>
<ul>
    @foreach (Department department in Model)
    {
        <li>     
           
            @Html.ActionLink(department.Name, "Index", "Employee", new {DepartmentId = department.Id } , null)      
        </li>
    }
</ul>





